<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gistmap.dao.StoryDao" >

    <insert id="save" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
            story
        (uid, title, tag_id, content, brief, createTime, modifyTime)
            VALUES
        (#{uid}, #{title}, #{tagId}, #{content}, #{brief}, now(), now())
    </insert>

</mapper>