<link rel="stylesheet" href="${basePath}/bootstrap/css/bootstrap.css">
<link href="${basePath}/select2/css/select2.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="${basePath}/select2/css/select2-bootstrap.css">
<link rel="stylesheet" href="${basePath}/css/navbar.css">
<header>
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Enjoy<span>.</span></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/write" >写文章</a></li>

                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <img class="img-rounded nav-ava" src="${basePath}/img/ava.jfif"/><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="disabled"><a href="#">StephenRo</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/user/">我的主页</a></li>

                        <li><a href="#">Another action</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
</header>
<!-- jQuery -->
<script src="${basePath}/jquery/jquery.min.js"></script>
<script src="${basePath}/select2/js/select2.min.js"></script>
<script src="${basePath}/select2/js/i18n/zh-CN.js"></script>
<script src="${basePath}/bootstrap/js/bootstrap.min.js"></script>
<script src="${basePath}/wangEditor/wangEditor.min.js"></script>