<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <#include "header.html">
    <div class="container">
        <h3>热门内容...<a>more</a></h3>
        <div class="row">

            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-6"><img class="img-thumbnail" src="img/1.jpg"/>文字</div>
                    <div class="col-lg-6"><img class="img-thumbnail" src="img/2.jpg"/></div>
                    <div class="col-lg-6"><img class="img-thumbnail" src="img/3.jpg"/></div>
                    <div class="col-lg-6"><img class="img-thumbnail" src="img/4.jpg"/></div>
                </div>
            </div>
            <div class="col-lg-8"></div>
        </div>
    </div>
</body>
</html>