<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-5">
                <div class="">
                    <label for="email"> 邮箱 </label>
                    <input type="email" class="form-control" id="email" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <label for="password"> 密码 </label>
                    <input type="password" class="form-control" id="password" placeholder="Password"/>
                </div>
                <button type="submit" id="regist" onclick="regist()" class="btn btn-primary">Submit</button>
            </div>

        </div>
    </div>

<script src="jquery/jquery.js"/>
<script src="enjoy/comm/comm.js"/>
<script src="bootstrap/js/bootstrap.js"/>
<script src="layer/layer.js"/>
<script src="layer/laypage/laypage.js"/>
<script>
    function regist() {
        var email = $('#email').val();
        var passwd = $('#password').val();

        if (isEmpty(email) || isEmpty(passwd)){
            layer.msg("输入不能为空");
            return;
        }
        var d = {
            "email":email,
            "password":passwd
        };
        $.ajax({
            type: "post",
            url: "/login",
            data: JSON.stringify(d),
            data: {"para":1},
            cache: false,
            async : false,
            dataType: "json",
            success: function (data ){

            }
        });

    }

</script>
</body>
</html>