<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
</head>
<body>

    <div class="container">
        <div class="row">
            <form id="form" data-parsley-validate >
                <div class="col-md-3 col-md-offset-8">
                    <div class="">
                        <label for="email"> 邮箱 </label>
                        <input type="email" class="form-control" id="email" name="email" data-parsley-required="true"/>
                    </div>
                    <div class="form-group">
                        <label for="username">账号</label>
                        <input type="text" class="form-control" id="username" name="username" data-parsley-required="true" data-parsley-minlength="4">
                    </div>
                    <div class="form-group">
                        <label for="password"> 密码 </label>
                        <input type="password" class="form-control" id="password" name="password" data-parsley-required="true" data-parsley-minlength="8"/>
                    </div>

                    <button type="button" class="btn btn-primary"  onclick="signUp()">提交</button>
                </div>
            </form>

        </div>
    </div>

<script src="jquery/jquery.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script src="layer/layer.js"></script>
<script src="layer/laypage/laypage.js"></script>
<script src="parsley/parsley.min.js"></script>
<script src="parsley/zh_cn.js"></script>
<script>
    var base = "${basePath}";
    function signUp() {
        var ok = $('#form').parsley().isValid({force: true});
        if (!ok) {
            return;
        }
        var email = $('#email').val();
        var username = $('#username').val();
        var passwd = $('#password').val();
        var d = {
            "email":email,
            "username":username,
            "password":passwd
        };
        $.ajax({
            type: "post",
            url: "/signUp",
            data: JSON.stringify(d),
            dataType: "json",
            contentType: "application/json",
            success: function (data ){
                if (data.rspCode == "000000") {
                    layer.msg(data.rspMsg);
                    location.href="/";
                } else {
                    layer.msg(data.rspMsg);
                }
            }
        });
    }

</script>
</body>
</html>