<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户页</title>
    <link rel="stylesheet" href="${basePath}/css/main.css">
</head>
<body>
    <#include "header.html">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="blog-inner">
                    <a href="#"><img class="img-circle avatar" src="${basePath}/img/ava.jfif" alt="Blog"></a>
                    <div class="desc">
                        <h4><a href="#">Stephen Ro</a></h4>
                        <p>这是一段自我介绍，巴拉巴拉巴拉巴拉</p>
                        <ul class="user_atten">
                            <li class="">
                                <a>
                                    <strong>45</strong>
                                    <span class="S_txt2">关注</span>
                                </a>
                            </li>
                            <li class="">
                                <a>
                                    <strong>45</strong>
                                    <span class="S_txt2">关注</span>
                                </a>
                            </li>
                            <li class="">
                                <a>
                                    <strong>45</strong>
                                    <span class="S_txt2">关注</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        我的动态
                        <span class="badge badge-primary badge-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        我的文章
                        <span class="badge badge-primary badge-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        与我相关
                        <span class="badge badge-primary badge-pill">1</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    你有<strong>5条</strong> 新消息， <a href="#" class="alert-link">点击查看</a>.
                </div>
                <div class="list-group">
                    <#list stories as story>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">${story.title}</h5>
                            <small class="text-muted">${story.dateStr}</small>
                        </div>
                        <p class="mb-1">${story.brief}</p>
                    </a>
                    </#list>
                </div>
            </div>
        </div>
    </div>
</body>
</html>